body{
    background-color: black;
    margin:0px;
}

.menu {
    display: flex;
    background: rgb(80, 75, 75);
}

.menu a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}